.div1{
    height: 170px;
    width: 900px;
    background-color: darkblue;
}
.firh{
    color: crimson;
    position: relative;
    left:300px;
    top: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px ;
}
.sech{
    color: white;
    position: relative;
    left: 490px;
    top: -44px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
.div2{
    color: white;
    position: relative;
    top: -90px;
    left: 360px;
}
.a1{
    position: relative;
    left:320px ;
    top:-80px ;
    color: white;
}
.div3{
    height: 140px;
    width: 690px;
    position: relative;
    left: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    position: relative;
    border-radius: 50%;
    left: 700px;
    top: -160px;

}
.div5{
    position: relative;
    left: 20px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: -170px;
    color:crimson;
    
}
.hr1{
    position: relative;
    top: -170px;
    width: 900px;
    left: -210px;
}
.div6{
    position: relative;
    top: -150px;
    left: 490px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.div7{
    position: relative;
    top: -140px;
    left: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.div8{
    height: 400px;
    width: 550px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 30px;
    top: -150px;
}
.div9{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 490px;
    top: -250px;
}
.div10{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 20px;
    top: -230px;
}
.div11{
    height: 400px;
    width: 550px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 20px;
    top: -230px;
}
.div12{
    position: relative;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: crimson;
    left: 700px;
    top: -1176px;
}
.div13{
    height: 200px;
    width: 200px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 700px;
    top: -1176px;
}
.div14{
    position: relative;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 700px;
    top: -960px;
    color:crimson;
}
.div15{
    height: 50px;
    width: 200px;
    position: relative;
    left: 700px;
    top: -940px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.div16{
    position: relative;
    font-size: 30px;
    color:crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 700px;
    top: -860px;
}
.div17{
    height: 40px;
    width: 200px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: -850px;
    left: 700px;
}
